<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>item</title>
    <Link rel = "stylesheet" type = "text/css" href = "/css/item.css">
</head>
<body>
    <h3>아이템 페이지</h3>
    <input type = "text" class = "inputpname">
    <input type = "text" class = "inputpcontent">
    <button type = "button" onclick="onwrite()">등록</button>
    <br/>
    <div class = "updateDiv">

    </div>
    <br/>
    <table class = "productTable">

    </table>
</body>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script> <!--jquery-->
<script type = "text/javascript" src = "/js/item.js"></script>
</html>